common --enable_bzlmod

build --incompatible_enable_cc_toolchain_resolution

build --host_platform=//:host_platform
build --platforms=//:host_platform
# /usr/bin/ld: /usr/lib/llvm-21/bin/../lib/LLVMgold.so: error loading plugin: /usr/lib/llvm-21/bin/../lib/LLVMgold.so: cannot open shared object file: No such file or directory
build --repo_env=CC=clang-20
build --repo_env=CXX=clang++-20
build:native --linkopt=-fuse-ld=lld-20
# build:native --host_linkopt=-fuse-ld=lld-20
build:native --dynamic_mode=off

# Improve security
build --copt=-fstack-protector-strong
build --host_copt=-fstack-clash-protection
build --host_copt=-D_FORTIFY_SOURCE=3
# gslist.c:896:7: runtime error: call to function g_free through pointer to incorrect function type 'void (*)(void *, void *)'
build --host_copt=-fsanitize=bounds
build --host_linkopt=-fsanitize=bounds

# https://github.com/bazelbuild/bazel/issues/11122
# build --host_copt=-fno-sanitize=vptr
# build --host_linkopt=-fno-sanitize=vptr

build:native --copt=-fstack-clash-protection
build:native --copt=-D_FORTIFY_SOURCE=3
build:native --copt=-fsanitize=address,bounds,undefined
build:native --linkopt=-fsanitize=address,undefined
build --copt=-DOPENSSL_NO_ASM

# Control Flow Integrity
# glist.c:949:7: runtime error: control flow integrity check for type 'void (void *, void *)' failed during indirect function call
# build --host_copt=-flto
# build --host_linkopt=-flto
# build --host_copt=-fsanitize=cfi
# build --host_linkopt=-fsanitize=cfi
# build --host_copt=-fno-sanitize-trap=cfi
# build --host_copt=-fvisibility=hidden

# build --host_copt=-frtti

build:native --copt=-flto
build:native --linkopt=-flto
build:native --copt=-fsanitize=cfi
build:native --linkopt=-fsanitize=cfi
build:native --copt=-fno-sanitize-trap=cfi
build:native --copt=-fvisibility=default

# external/+_repo_rules+boringssl_source/crypto/bio/bio.cc:44:37: runtime error: control flow integrity check for type 'int (bio_st *)' failed during indirect function call
build --per_file_copt=boringssl_source/.*\.c(c)?$@-fno-sanitize=cfi-icall

build:native --copt=-fno-sanitize=vptr
build:native --linkopt=-fno-sanitize=vptr
build:native --copt=-frtti

build:wasm --platforms=//:wasm_platform
build:wasm --copt=-fsanitize=address,undefined
build:wasm --copt=-fwasm-exceptions
build:wasm --linkopt=-fsanitize=address,undefined
build:wasm --linkopt=-fwasm-exceptions
build:wasm --linkopt=-sASSERTIONS=1

build:native --platforms=//:host_platform
