common --enable_bzlmod

build --incompatible_enable_cc_toolchain_resolution

build --host_platform=//:host_platform
build --platforms=//:host_platform
build --repo_env=CC=clang-21
build --repo_env=CXX=clang++-21
build --repo_env=BAZEL_CONLYOPTS="-std=gnu17"

build:wasm --platforms=//:wasm_platform

test:native --config=native
build:native --platforms=//:host_platform
